version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

  admin:
    build: ./admin
    container_name: admin
    restart: always
    ports:
      - "8000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
